---
layout: default
title: 我的Blog
---

<div class="blog-header">
	<h1 class="blog-title">{{ page.title }}</h1>
	<p class="lead blog-description">
		我的Blog
	</p>
</div>

<div class="row" style="min-height:480px;">
	<ul class="list-group">
	{% for post in paginator.posts %}
	  	<li class="list-group-item">
			{{ post.date | date_to_string }} 
			<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
		</li>
	{% endfor %}
	</ul>
	<div class="col-md-12">
	{% if paginator.total_pages > 1 %}
		<ul class="pagination">
			<li>
				{% if paginator.previous_page %}
				<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; 上一页</a>
				{% else %}
				<span>&laquo; 上一页</span>
				{% endif %}
			</li>

			{% for page in (1..paginator.total_pages) %}
				<li>
			    {% if page == paginator.page %}
			     	<a href="javascript:;"><em>{{ page }}</em></a>
			    {% elsif page == 1 %}
			      	<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
			    {% else %}
			      	<a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
			    {% endif %}
			    </li>
			{% endfor %}

			<li>
				{% if paginator.next_page %}
				    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">下一页 &raquo;</a>
				{% else %}
				    <span>下一页 &raquo;</span>
				{% endif %}
			</li>
		</ul>
	{% endif %}
</div>
</div>

