<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="author" content="night1008">
    	<meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="keywords" content="{{ page.keywords }},night,night1008,blog,博客,个人博客">
        <meta name="description" content="{{ page.description }},night,night1008,blog,博客,个人博客">

    	<!-- Bootstrap core CSS -->
    	<link href="{{'/assets/css/bootstrap.min.css' | relative_url }}" rel="stylesheet">

    	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    	<!-- <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet"> -->

        <!-- custom core CSS -->
        <link href="{{'/assets/css/custom.css' | relative_url }}" rel="stylesheet">

        <title>{{ page.title }}</title>
	</head>
    <body>
        <div id="top"></div>
        <div class="container site">
            <div class="row">
                <div class="col-md-offset-2 col-md-8 col-sm-12">
                    <div class="title">
                        <a href="/">Night</a>
                        <a class="extra" href="/">首页</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-8 col-sm-12">
                    {{ content }}
                </div>
            </div>
        </div>

        <footer class="text-center">
            <p>
                By <a href="https://github.com/night1008">night</a>.
            </p>
            <p>
                <a href="#top">回到顶部</a>
            </p>
        </footer>
　　</body>
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{'/assets/js/jquery-1.11.1.min.js' | relative_url }}"></script>
    <script src="{{'/assets/js/bootstrap.min.js' | relative_url }}"></script>
</html>