<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<!-- Bootstrap core CSS -->
    	<link href="{{'/assets/css/bootstrap.min.css' | relative_url }}" rel="stylesheet">

    	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    	<!-- <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet"> -->

        <!-- custom core CSS -->
        <link href="{{'/assets/css/custom.css' | relative_url }}" rel="stylesheet">

        <title>{{ page.title }}</title>
	</head>
    <body>
        <div id="top" class="blog-masthead">
            <div class="container">
                <nav class="blog-nav">
                    <a class="blog-nav-item {% if page.active == 'index' %} active {% endif %}" href="{{ site.url }}">首页</a>
                    <a class="blog-nav-item {% if page.active == 'todo' %} active {% endif %}" href="{{ site.baseurl }}/todo.html">待做</a>
                    <a class="blog-nav-item {% if page.active == 'about' %} active {% endif %}" href="{{ site.baseurl }}/about.html">关于</a>
                </nav>
            </div>
        </div>
        <div class="container" style="min-height:480px;">
            {% if page.show_header %}
            <div class="row">
                <div class="col-md-12">
                    <div class="blog-header">
                        <h1 class="blog-title">{{ page.title }}</h1>
                        <p class="lead blog-description">
                            {{ page.description }}
                        </p>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="row">
                <div class="col-md-12">
                    <div class="blog-body">
                        {{ content }}
                    </div>
                </div>
            </div>
        </div>
        <footer class="blog-footer">
            <p>
                By <a href="https://github.com/night1008">night</a>.
            </p>
            <p>
                <a href="#top">回到顶部</a>
            </p>
        </footer>
　　　　
　　</body>
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{'/assets/js/jquery-1.11.1.min.js' | relative_url }}"></script>
    <script src="{{'/assets/js/bootstrap.min.js' | relative_url }}"></script>
</html>