<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<!-- Bootstrap core CSS -->
    	<link href="{{'/assets/css/bootstrap.min.css' | relative_url }}" rel="stylesheet">

    	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    	<!-- <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet"> -->

	　　<title>{{ page.title }}</title>
	</head>
　　<body>
　　　　{{ content }}
　　</body>
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{'/asserts/js/jquery-1.11.1.min.js' | relative_url }}"></script>
    <script src="{{'/asserts/js/bootstrap.min.js' | relative_url }}"></script>
</html>